body{
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-size: 1rem;
    height: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(91, 91, 91));
}

.site-header{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand-title{
    margin: auto 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-size: 1.5rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    width: 35rem;
    /* border: 2px solid red; */
}
.nav-list a{
    text-decoration: none;
    color: #c3c3c3;
    position: relative;
}

.nav-list a:hover{
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-weight: bold;

}

.nav-list a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: left;
}

.nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: right;
}

.nav-list a:hover::before,
.nav-list a:hover::after {
    transform: scaleX(1);
}

.conatiner_main{
    display: flex;
    justify-content: center;
}

main h1{
    margin: 3rem auto auto 0;           
    padding: 0;
}

#home{
    scroll-margin-top: calc(12px + 12px);
    padding-top: calc(12px + 12px);
}

.hero-typing-section{
    display: inline-block; /* make the cursor at the end len text */
}

.hero-typing-text{
    min-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;   
    border-right: 3px solid;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    animation: cursorBlink .6s infinite;
}

@keyframes cursorBlink{
    50% {border-color: transparent;}
}

main .profile-photo{
    height: 15rem;
    width: 15rem;
    margin: 30px auto;
    border-radius: 50%;
    background-image: url('/assets/Profile/Profil.jpeg');
    background-repeat: no-repeat;
    background-position: 0 -3rem;
    background-size: cover;
    transition: 1s ease;
    box-shadow: 0 0 2rem black;
}

main .profile-photo:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5rem rgb(0, 0, 0);
}

main .descript{
    margin: auto 33rem;
    width: 30rem;
}

.social-links .social-instagram,
.social-links .social-linkedin,
.social-links .social-github,
.social-links .social-whatsapp{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.social-links .social-instagram{
    background-image: url(/assets/Social_logo/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.social-links .social-linkedin{
    background-image: url(/assets/Social_logo/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.social-links .social-github{
    background-image: url(/assets/Social_logo/Github.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.social-links .social-whatsapp{
    background-image: url(/assets/Social_logo/Whatsapp.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.social-instagram:hover, .social-github:hover, .social-linkedin:hover, .social-whatsapp:hover{
    transform: translateY(-5px);
}

.social-instagram::after,
.social-linkedin::after,
.social-github::after,
.social-whatsapp::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -10px;
    height: 0.1rem;
    box-shadow: 0 0.5rem 1.3rem rgb(9, 9, 9);
    background: #000000;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: center;
}

.social-instagram:hover::after,
.social-linkedin:hover::after,
.social-github:hover::after,
.social-whatsapp:hover::after{
    transform: scaleX(1);
}

main .social-heading{
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.5rem;    
    font-weight: bold;
    display: inline-block;
}

.section-divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(77, 77, 77, 0.35) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
}

main .social-label{
    font-size: 1.5rem;
    background: transparent;
}

main .social-links{
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

main .logo_social img:hover{
    transform: translateY(-0.4rem) ;
    filter: drop-shadow(0 0.5rem 2rem black);
    cursor: pointer;
}

main .download-btn {
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    background-color: black ;
    font-size: 1rem;
    border-radius: 5rem;
    padding: 1rem 3rem;
    border: 2px solid black;
    color: white;
    vertical-align: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

main .download-btn:hover{
    transform: translateY(-0.3rem);
    font-weight: bold;
    text-shadow: 0 0 40px rgb(255, 255, 255);
}

.social-heading{
    font-size: large;
}

#about{
    scroll-margin-top: calc(125px + 12px);
    padding-top: calc(12px + 24px);
}

.about-heading {
    margin-top: 10rem;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    display: inline-block;
}


.about-section {
    display: flex;
}

.about-description{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    margin: auto;
    box-shadow: 0 0 3rem black;
    background-color: #cdcdcd;
    width: 30rem;
    text-align: left;
}

.skills-heading{
    text-align: left;
    font-weight: bold;
}

.skills-list{
    display: flex;
    flex-wrap:wrap;
    gap: 0.5rem;
}

.skills-list .skill-badge,
.tool-badge,
.design-badge{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.skills-list 
.skill-badge:hover,
.tool-badge:hover,
.design-badge:hover{
    transform: scale(1.05);
    font-weight: bold;
}

.about-code-snippet {
    margin: 40px auto;
    text-align: left;
    width: fit-content;
    height:fit-content;
    box-shadow: 0 0 2rem black;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #cdcdcd;
}

#services{
    scroll-margin-top: calc(12px + 12px);
    padding-top: calc(12px + 120px);
}

.services-section{
    display: inline-block;
    margin-top: 15rem;
}

.services-section .services-title{
    font-size: 3rem;
    font-weight: bold;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}

.service-icon-frontend,
.service-icon-responsive,
.service-icon-performance{
    width: 3rem;
    padding: 0;
    margin: 0;
}

.service-card-frontend p,
.service-card-responsive p,
.service-card-performance p{
    margin: 0.5rem auto;
}

.service-card-frontend,
.service-card-responsive,
.service-card-performance{
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem black;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}


#contact{
    scroll-margin-top: calc(54px + 12px);
    padding-top: calc(12px + 15px);
}

.contact-title{
    margin: 10rem auto 2rem auto;
    font-size: 3rem;
}

.contact-layout{
    width: auto 50%;
    display: flex;
    padding: 0 1.5rem;
}

.contact-heading{
    font-size: 1.5rem;
    font-weight: bold;
}


.contact-content{
    width: 50%;
    padding: 0.5rem;
    text-align: left;
}

.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    outline: none;
}

.contact-form .input-name,
.contact-form .input-email,
.contact-form .input-subject{
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px grey;
    border-radius: 0.5rem;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(206, 206, 206);
}
.contact-content .contact-icon-email,
.contact-content .contact-icon-phone {
    width: 1rem;
}

.contact-social-links{
    display: flex;
    gap: 1rem;
}

.contact-social-links .social-instagram,
.contact-social-links .social-linkedin,
.contact-social-links .social-github,
.contact-social-links .social-whatsapp{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.contact-social-links .social-instagram{
    background-image: url(/assets/Social_logo/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.contact-social-links .social-linkedin{
    background-image: url(/assets/Social_logo/linkedin.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.contact-social-links .social-github{
    background-image: url(/assets/Social_logo/Github.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.contact-social-links .social-whatsapp{
    background-image: url(/assets/Social_logo/Whatsapp.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}


.contact-form .input-message{
    padding: 1rem 0.5rem 10rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px grey;
    background-color: rgb(206, 206, 206);
    outline: none;
    font-weight: bold;
}

.contact-form button{
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px grey;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 0 0.7rem rgb(255, 255, 255);
    cursor: pointer;
}

.footer-bar{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border: none;
    background-color: rgb(165, 165, 165);
}

.footer-bar img {
    width: 1rem;
}

.nav-link.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
