body{
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-size: 1rem;
    height: 100%;
    background: linear-gradient( 180deg, #ffffff 0%, #7a7979 100%);
    text-align: center;
}

.head{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.portfolio{
    margin: auto 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-size: 1.5rem;
}

.container_nav{
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    width: 35rem;
    /* border: 2px solid red; */
}
.container_nav a{
    text-decoration: none;
    color: #c3c3c3;
    position: relative;
}

.container_nav a:hover{
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-weight: bold;

}

.container_nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: left;
}

.container_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: right;
}

.container_nav a:hover::before,
.container_nav a:hover::after {
    transform: scaleX(1);
}

.conatiner_main{
    display: flex;
    justify-content: center;
}

main h1{
    margin: 3rem auto auto 0;           
    padding: 0;
}

.text_typing{
    display: inline-block; /* make the cursor at the end len text */
}

.typing{
    min-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;   
    border-right: 3px solid;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    animation: cursorBlink .6s infinite;
}

@keyframes cursorBlink{
    50% {border-color: transparent;}
}

main .profile{
    height: 15rem;
    width: 15rem;
    margin: 30px auto;
    border-radius: 50%;
    background-image: url('/assets/Profile/Profil.jpeg');
    background-repeat: no-repeat;
    background-position: 0 -3rem;
    background-size: cover;
    transition: 1s ease;
    box-shadow: 0 0 2rem black;
}

main .profile:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5rem rgb(0, 0, 0);
}

main .descript{
    margin: auto 33rem;
    width: 30rem;
}

main .logo_social img{
    width: 3rem;
    transition: 0.4s ease;
}

main .logo_social a{
    position: relative;
    transition: 0.4s ease; 
}

main .logo_social a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 0.1rem;
    box-shadow: 0 0.5rem 1.3rem white;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: center;
}

main .logo_social a:hover::after{
    transform: scaleX(1);
}

main .my_social{
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.5rem;    
    font-weight: bold;
}

main .logo_social{
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}

main .logo_social img:hover{
    transform: translateY(-0.4rem) ;
    filter: drop-shadow(0 0.5rem 2rem black);
    cursor: pointer;
}

main .download {
    gap: 0.5rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: black ;
    font-size: 1rem;
    border-radius: 5rem;
    padding: 1rem 3rem;
    border: 2px solid black;
    color: white;
    vertical-align: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

main .download:hover{
    transform: translateY(-0.3rem);
    font-weight: bold;
    text-shadow: 0 0 40px rgb(255, 255, 255);
}

.my_social{
    font-size: large;
}

.about {
    margin-top: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    border-bottom: 6px solid black;
    display: inline-block;
    border-bottom-color: color-mix(in srgb, #ffffff 50%, #7a7979 50%);
}


.about_me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 10rem;
}

.description{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    margin: 0 auto;
    box-shadow: 0 0 3rem black;
    overflow: hidden;
    background-color: #939393;
}

.about_js {
    text-align: left;
    width: fit-content;
    height:fit-content;
    box-shadow: 0 0 2rem black;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #939393;
}

.container_services{
    display: inline-block;
    margin-top: 15rem;
}

.container_services .service{
    font-size: 1.5rem;
    font-weight: bold;
}

.container_services_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}

.Icon_Front_end,
.Icon_Responsive_Design,
.Icon_Performance_Optimization{
    width: 3rem;
    padding: 0;
    margin: 0;
}

.container_Front-end-Development p,
.container_Responsive_Design p,
.container_Performance_Optimization p{
    margin: 0.5rem auto;
}

.container_Front-end-Development,
.container_Responsive_Design,
.container_Performance_Optimization{
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem black;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}