body{
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-size: 1rem;
    height: 100%;
    text-align: center;
}

.head{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.portfolio{
    margin: auto 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-size: 1.5rem;
}

.container_nav{
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    width: 35rem;
    /* border: 2px solid red; */
}
.container_nav a{
    text-decoration: none;
    color: #c3c3c3;
    position: relative;
}

.container_nav a:hover{
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-weight: bold;

}

.container_nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: left;
}

.container_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: right;
}

.container_nav a:hover::before,
.container_nav a:hover::after {
    transform: scaleX(1);
}

.conatiner_main{
    display: flex;
    justify-content: center;
}

main h1{
    margin: 3rem auto auto 0;           
    padding: 0;
}

.text_typing{
    display: inline-block; /* make the cursor at the end len text */
}

.typing{
    min-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;   
    border-right: 3px solid;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    animation: cursorBlink .6s infinite;
}

@keyframes cursorBlink{
    50% {border-color: transparent;}
}

main .profile{
    height: 15rem;
    width: 15rem;
    margin: 30px auto;
    border-radius: 50%;
    background-image: url('/assets/Profile/Profil.jpeg');
    background-repeat: no-repeat;
    background-position: 0 -3rem;
    background-size: cover;
    transition: 1s ease;
    box-shadow: 0 0 2rem black;
}

main .profile:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5rem rgb(0, 0, 0);
}

main .descript{
    margin: auto 33rem;
    width: 30rem;
}

.logo_social .Instagram,
.logo_social .LinkedIn,
.logo_social .Github,
.logo_social .Whatsapp{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.logo_social .Instagram{
    background-image: url(/assets/Social_logo/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social .LinkedIn{
    background-image: url(/assets/Social_logo/linkedin.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social .Github{
    background-image: url(/assets/Social_logo/Github.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social .Whatsapp{
    background-image: url(/assets/Social_logo/Whatsapp.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.Instagram:hover, .Github:hover, .LinkedIn:hover, .Whatsapp:hover{
    transform: translateY(-5px);
}

.Instagram::after,
.LinkedIn::after,
.Github::after,
.Whatsapp::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -10px;
    height: 0.1rem;
    box-shadow: 0 0.5rem 1.3rem rgb(9, 9, 9);
    background: #000000;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: center;
}

.Instagram:hover::after,
.LinkedIn:hover::after,
.Github:hover::after,
.Whatsapp:hover::after{
    transform: scaleX(1);
}

main .my_social{
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.5rem;    
    font-weight: bold;
}

main .logo_social{
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

main .logo_social img:hover{
    transform: translateY(-0.4rem) ;
    filter: drop-shadow(0 0.5rem 2rem black);
    cursor: pointer;
}

main .download {
    gap: 0.5rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: black ;
    font-size: 1rem;
    border-radius: 5rem;
    padding: 1rem 3rem;
    border: 2px solid black;
    color: white;
    vertical-align: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

main .download:hover{
    transform: translateY(-0.3rem);
    font-weight: bold;
    text-shadow: 0 0 40px rgb(255, 255, 255);
}

.my_social{
    font-size: large;
}

.about {
    margin-top: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    display: inline-block;
}


.about_me {
    display: flex;
}

.description{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    margin: auto;
    box-shadow: 0 0 3rem black;
    background-color: #cdcdcd;
    width: 30rem;
    text-align: left;
}

.head_skills_and_technologies{
    text-align: left;
    color: white;
    font-weight: bold;
}

.skills_and_technologies{
    display: flex;
    flex-wrap:wrap;
    gap: 0.5rem;
}

.skills_and_technologies .Skills,
.Tools,
.Design{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.skills_and_technologies 
.Skills:hover,
.Tools:hover,
.Design:hover{
    transform: scale(1.05);
    font-weight: bold;
}

.about_js {
    margin: 40px auto;
    text-align: left;
    width: fit-content;
    height:fit-content;
    box-shadow: 0 0 2rem black;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #cdcdcd;
}

.container_services{
    display: inline-block;
    margin-top: 15rem;
}

.container_services .service{
    font-size: 1.5rem;
    font-weight: bold;
}

.container_services_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}

.Icon_Front_end,
.Icon_Responsive_Design,
.Icon_Performance_Optimization{
    width: 3rem;
    padding: 0;
    margin: 0;
}

.container_Front-end-Development p,
.container_Responsive_Design p,
.container_Performance_Optimization p{
    margin: 0.5rem auto;
}

.container_Front-end-Development,
.container_Responsive_Design,
.container_Performance_Optimization{
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem black;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}


.header_contact{
    margin: 10rem auto 2rem auto;

}

.container_Contact{
    width: auto 50%;
    display: flex;
    padding: 0 1.5rem;
}

.description_contact{
    font-size: 1.5rem;
    font-weight: bold;
}


.container_Desc{
    width: 50%;
    padding: 0.5rem;
    text-align: left;
}

.container_input{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
}

.container_input .name,
.container_input .email,
.container_input .subject{
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px grey;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(206, 206, 206);
}
.container_Desc .email,
.container_Desc .number_phone {
    width: 1rem;
}

.logo_social_desc{
    display: flex;
    gap: 1rem;
}

.logo_social_desc .Instagram,
.logo_social_desc .LinkedIn,
.logo_social_desc .Github,
.logo_social_desc .Whatsapp{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.logo_social_desc .Instagram{
    background-image: url(/assets/Social_logo/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social_desc .LinkedIn{
    background-image: url(/assets/Social_logo/linkedin.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social_desc .Github{
    background-image: url(/assets/Social_logo/Github.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}

.logo_social_desc .Whatsapp{
    background-image: url(/assets/Social_logo/Whatsapp.png);
    background-repeat: no-repeat;
    background-size:cover;
    transition: 0.4s ease;
    position: relative;
}


.container_input .message{
    padding: 1rem 0.5rem 10rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px grey;
    background-color: rgb(206, 206, 206);
    font-weight: bold;
}

.container_input button{
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(172, 172, 172);
    border: 1px grey;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 0 0.7rem grey;
    cursor: pointer;
}

.container_footer{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border: none;
    background-color: rgb(165, 165, 165);
}

.container_footer img {
    width: 1rem;
}