body{
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-size: 1rem;
    /* height: 100%; */
    background: linear-gradient( 180deg, #ffffff 0%, #7a7979 100%);
    text-align: center;
}

.head{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0rem 1rem 1rem black;
    width: 100%;
    position: sticky;
}

.portfolio{
    margin: auto 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-size: 1.5rem;
}

.container_nav{
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    margin-right: 2rem;
    width: 35rem;
}

.container_nav a{
    text-decoration: none;
    color: #c3c3c3;
    position: relative;
}

.container_nav a:hover{
    color: #ffffff;
    text-shadow: 0 0 40px rgb(255, 255, 255);
    font-weight: bold;
    
}

.container_nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: left;
}

.container_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: right;
}

.container_nav a:hover::before,
.container_nav a:hover::after {
    transform: scaleX(1);
}

main h1{
    margin: 5rem auto auto 0;    
    padding: 0;
}

.text_typing{
    display: inline-block; /* make the cursor at the end len text */
}

.typing{
    font-size: 1rem;
    font-weight: bold;   
    border-right: 3px solid;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    animation: cursorBlink .6s infinite;
}

@keyframes cursorBlink{
    50% {border-color: transparent;}
}

main .profile{
    height: 20rem;
    width: 20rem;
    margin: 30px auto;
    border-radius: 50%;
    background-image: url('/assets/Profile/Profil.jpeg');
    background-repeat: no-repeat;
    background-position: 0 -5rem;
    background-size: cover;
    transition: 1s ease;
    box-shadow: 0 0 2rem black;
}

main .profile:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5rem rgb(111, 1, 1);
}

main .descript{
    margin: auto 33rem;
    width: 30rem;
}

main .logo_social img{
    width: 2rem;
}

main .my_social{
    margin-top: 2rem;
}

main .logo_social{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    gap: 1rem;
}