body{
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-size: 1rem;
    height: 100vh;
    /* background: linear-gradient( 180deg, #3162b5 0%, #000000 100%); */
}

.head{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 0 1rem black;
}

.portfolio{
    margin: auto 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-size: 1.5rem;
}

.container_nav{
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    margin-right: 2rem;
    width: 35rem;
}

.container_nav a{
    text-decoration: none;
    color: #c3c3c3;
    position: relative;
}

.container_nav a:hover{
    color: #ffffff;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-weight: bold;
    
}

.container_nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: left;
}

.container_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease;
    transform-origin: right;
}

.container_nav a:hover::before,
.container_nav a:hover::after {
    transform: scaleX(1);
}
